<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commit451.driveappfolderviewer">

    <application>

        <activity
            android:name=".DriveAppFolderViewerActivity"
            android:theme="@style/DriveAppFolderViewerTheme" />

        <activity
            android:name=".DriveAppFileViewerActivity"
            android:theme="@style/DriveAppFolderViewerTheme" />

    </application>

</manifest>
